<div class="ui-layout-north">
  <div id="user-name">
    <%= current_user.login.capitalize %>
  </div>
  <div id="logout">
    <%= link_to "Help", "#help", { :title => "Help" }    %>
    <%= link_to "Contact", "http://friendfeed.com/2dooo", { :title => "Contact us" }    %>
    <%= link_to "Feedback", "http://2dooo.uservoice.com", { :title => "Your Suggestions, Problems, anything!" }    %>
    <%= link_to "Log out", logout_path, { :title => "Log out" }    %>
  </div>
</div>  